<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CustomerServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CustomerServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44322/CustomerService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CustomerServiceSoap"
                contract="CustomerService.CustomerServiceSoap" name="CustomerServiceSoap" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key ="EndpointConfigurationName" value="CustomerServiceSoap"/>
  </appSettings>
</configuration>