<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CustomerServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="CustomerServiceSoap1" />
                <binding name="CustomerServiceSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="CustomerServiceSoap3" />
                <binding name="CustomerServiceSoap4">
                    <security mode="Transport" />
                </binding>
                <binding name="CustomerServiceSoap5" />
                <binding name="CustomerServiceSoap6">
                    <security mode="Transport" />
                </binding>
                <binding name="CustomerServiceSoap7" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44322/CustomerService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CustomerServiceSoap"
                contract="CustomerService.CustomerServiceSoap" name="CustomerServiceSoap" />
            <endpoint address="https://localhost:44322/CustomerService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CustomerServiceSoap2"
                contract="CustomerService.CustomerServiceSoap" name="CustomerServiceSoap1" />
            <endpoint address="https://localhost:44322/CustomerService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CustomerServiceSoap4"
                contract="CustomerService.CustomerServiceSoap" name="CustomerServiceSoap2" />
            <endpoint address="https://localhost:44322/CustomerService.asmx"
                binding="basicHttpBinding" bindingConfiguration="CustomerServiceSoap6"
                contract="CustomerService.CustomerServiceSoap" name="CustomerServiceSoap3" />
        </client>
    </system.serviceModel>
</configuration>